/*
 * Main styles.
 */

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Body */
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

html {
  height: 100%;
}

/* Map */
#map {
  position: absolute;
  /*float: left;*/
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 7;
}

/* Sidebar */
#sidebar {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30%;
  z-index: 10;
}

#sidebar-inner {
  padding: 10px;
}

.sidebar-title {
  margin: 0;
  line-height: 1.5em;
}

#sidebar,
.map-legend {
  @include single-box-shadow;
  $mapgrey: #e8e8e8;
  $mapgrey-darker: #999;
  background-color: hsla(hue($mapgrey-darker), saturation($mapgrey-darker), lightness($mapgrey-darker), 0.95);
  color: white;
  @include border-radius(2px);
}

.more-info-title {
  margin-bottom: 0;
}

.more-info-list {
  margin-top: 0;
}

/* Pop-up information */
.popup_box_header {
  font-size: 16px;
}

.leaflet-popup {
  .post-title {
    font-size: em(18);
    margin-bottom: 0;
    a:link,
    a:visited {
      color: $gray-dark;
    }
  }
  .post-img {
    max-width: 100% !important; // Overriding Leaflet.
  }
  p {
    margin: 0;
  }
}

.leaflet-bottom { // Wrapper for legend and Mapbox info icon.
  width: 30%;
  .map-legends {
    width: 100%;
    font-size: 0.85em;
  }
}

.leaflet-container {
  color: #333;
  h5 {
    margin-bottom: 0;
  }
}

.map-legend {
  @include single-box-shadow;
}
.legend-title {
  margin: 0;
}

.legend-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.legend-icon {
  display: inline-block;
  margin-right: 15px;
  margin-left: 5px;
  width: 10px;
  height: 10px;
}

.legend-risk {
  .legend-icon {
    background: url(../img/marker_sm.png) no-repeat left top;
    height: 30px;
    width: 20px;
    margin-left: 0;
    margin-right: 10px;
  }
  .legend-label {
    vertical-align: top;
  }
}

.legend-route .legend-icon {
  background-color: #122128;
}

.legend-park .legend-icon {
  background-color: #19851c;
}

.marker-title {
  font-size: $h3-font-size;
}

#interviews-nav,
#posts-nav {
  text-align: center;
  ul {
    @include clearfix;
    padding-left: 0;
  }
  li {
    display: inline-block;
  }

  i {
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: $green;
      cursor: pointer;
    }
  }
}

#posts-nav-left {
  margin-right: 10px;
}

#posts-nav-right {
  margin-left: 10px;
}

.small-note {
  font-size: .9em;
  font-style: italic;
}
